.heading{
    text-align: center;

}

 
#H{
    background-color: coral;
}

.cornflowerblue {
    background-color: cornflowerblue;

}
.orchid{
    background-color: orchid;
}

.slateblue{
    background-color: slateblue;
}

.gold{
    background-color: gold;
}

.seagreen{
    background-color: seagreen;
}

.saddlebrown{
    background-color: saddlebrown;
}





.salmon{
    background-color: salmon;
}

.goldenrod{
    background-color: goldenrod;
}
.white{
    background-color: white;

}

.pink{
    background-color: pink;
}
